/******************
 * CSS Reset
 ******************/
@import "../bower_components/sass-meyer-reset/sass-meyer-reset";

/******************
 * Bourbon, Neat & Bitters
 ******************/
@import "../bower_components/bourbon/dist/bourbon";
@import "../bower_components/neat/app/assets/stylesheets/neat";
@import "../bower_components/bitters/app/assets/stylesheets/base";

/******************
 * Helpers
 ******************/
@import "helpers/mixins";
@import "helpers/fonts";

body {

}

a {

}

section {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: orange;
}